/* src/pages/AddProductPage.scss */

.add-product-page {
  text-align: center;
  padding: 2rem 0;

  .page-title {
    font-size: 2.8rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
  }
}